@charset "UTF-8";
/* Белый цвет color:rgba(255, 255, 255, 1)*/
/* Светлый фон color:rgba(245, 244, 250, 1) */
/* Темный фон color:rgba(47, 48, 58, 1) */
/* Синий цвет color:rgba(33, 150, 243, 1) */
/* Черный текст color:rgba(33, 33, 33, 1) */
/* Серый цвет color:rgba(117, 117, 117, 1) */
p,
h1,
h2,
h3,
h4,
h5,
h6,
pre {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(238, 238, 238);
}

img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

body {
  margin: 0px 0px;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: rgb(255, 255, 255);
  color: rgb(117, 117, 117);
}

address {
  font-style: normal;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: 1px solid rgb(236, 236, 236);
}

.header--flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: rgb(33, 150, 243);
}
@media (min-width: 1200px) {
  .logo {
    margin-right: 93px;
    font-size: 26px;
    line-height: 31px;
  }
}

.logo__studio--black-text {
  color: rgb(33, 33, 33);
}
.logo__studio--white-text {
  color: rgb(255, 255, 255);
}

.header-nav {
  display: none;
}
@media (min-width: 768px) {
  .header-nav {
    display: contents;
  }
}

.nav-list {
  display: flex;
}

.nav-list {
  display: flex;
}
.nav-list__item:not(:last-child) {
  margin-right: 50px;
}

.nav-list__link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: rgb(33, 150, 243);
}
.nav-list__link--after::after {
  position: absolute;
  top: 77px;
  display: block;
  width: 100%;
  height: 4px;
  content: "";
  border-radius: 2px;
  background-color: rgb(33, 150, 243);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-div__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgb(255, 255, 255);
  fill: rgb(175, 177, 184);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-div__link:hover, .team-div__link:focus {
  fill: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
}

.auth-list {
  display: none;
  align-items: center;
  letter-spacing: 0.02em;
}
@media (min-width: 768px) {
  .auth-list {
    display: contents;
    display: block;
  }
}

.auth-list__item:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .auth-list__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.auth-list__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  color: rgb(117, 117, 117);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth-list__link:hover, .auth-list__link:focus {
  color: rgb(33, 150, 243);
}

.auth-list__icon {
  margin-right: 8px;
  fill: rgb(117, 117, 117);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 1200px) {
  .auth-list__icon {
    margin-right: 10px;
  }
}

.auth-list__link:hover .auth-list__icon,
.auth-list__link:focus .auth-list__icon {
  fill: rgb(33, 150, 243);
}

@media (min-width: 1200px) {
  /* Контакты */
  .auth-list {
    display: flex;
    margin-left: auto;
    align-items: center;
    letter-spacing: 0.02em;
  }
  .auth-list__item {
    align-items: center;
  }
  .auth-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .auth-list__link {
    display: flex;
    padding: 32px 0;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 1.14;
    color: rgb(117, 117, 117);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-list__link:hover, .auth-list__link:focus {
    color: rgb(33, 150, 243);
  }
}
.section--back-image {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-background-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  padding-top: 118px;
  padding-bottom: 0px;
}
@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .section--back-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-mobile2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .section--back-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .section--back-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-tablet2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .section--back-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desctop.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .section--back-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-desctop2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .section--back-image {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
  }
}

.main__text {
  box-sizing: border-box;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
}
@media (min-width: 1200px) {
  .main__text {
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
  }
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  cursor: pointer;
}
.button--center {
  margin-right: auto;
  margin-left: auto;
  padding: 10px 24px;
  border: 0;
}

.section-text--none {
  display: none;
}

@media (min-width: 768px) {
  .hero-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .hero-nav {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 480px) {
  .hero-nav__list {
    width: 450px;
  }
  .hero-nav__list:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .hero-nav__list {
    width: 354px;
  }
  .hero-nav__list:not(:last-child) {
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .hero-nav__list {
    width: 270px;
    height: 248px;
  }
  .hero-nav__list:not(:last-child) {
    margin-bottom: 0px;
    margin-right: 0px;
  }
}
.hero-nav__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  background-color: rgb(245, 244, 250);
}
@media (min-width: 480px) {
  .hero-nav__icon {
    width: 450px;
  }
}
@media (min-width: 768px) {
  .hero-nav__icon {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .hero-nav__icon {
    width: 270px;
  }
}
.hero-nav__title {
  margin-bottom: 10px;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: rgb(33, 33, 33);
}
@media (min-width: 768px) {
  .hero-nav__title {
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .hero-nav__title {
    text-align: start;
  }
}
.hero-nav__text {
  font-size: 14px;
  line-height: 1.71;
}

/* Наша команда */
.section--background {
  background-color: rgb(245, 244, 250);
}

.section-text {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  color: rgb(33, 33, 33);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team-list__item {
  box-sizing: border-box;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
@media (min-width: 768px) {
  .team-list__item {
    width: 354px;
  }
}
@media (min-width: 1200px) {
  .team-list__item {
    width: 270px;
  }
}

.team-div {
  padding-top: 30px;
  padding-bottom: 24px;
}
.team-div__title {
  box-sizing: border-box;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: rgb(33, 33, 33);
}
.team-div__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
}
.team-div__list {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.team-div__item:not(:last-child) {
  margin-right: 10px;
}

/*Постоянные клиенты*/
.client-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}
@media (min-width: 1200px) {
  .client-list {
    display: flex;
    justify-content: center;
  }
  .client-listitem:not(:last-child) {
    margin-right: 30px;
  }
}

.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  fill: rgb(175, 177, 184);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .client-list__link {
    width: 226px;
  }
}
@media (min-width: 1200px) {
  .client-list__link {
    width: 170px;
  }
}
.client-list__link:hover, .client-list__link:focus {
  fill: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
}

@media (min-width: 768px) {
  .footer--flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px 165px;
  }
}
@media (min-width: 1200px) {
  .footer--flex {
    display: flex;
    flex-wrap: nowrap;
    gap: inherit;
    justify-content: space-between;
    text-align: left;
  }
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgb(47, 48, 58);
}
@media (min-width: 480px) {
  .footer {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .footer {
    text-align: center;
  }
}

.footer-auth {
  text-align: center;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .footer-auth {
    margin-bottom: 0px;
  }
}
@media (min-width: 1200px) {
  .footer-auth {
    text-align: start;
  }
}
.footer-auth__list {
  display: inline-block;
  width: 231px;
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.71;
  color: rgb(255, 255, 255);
}
.footer-auth__item:not(:last-child) {
  margin-bottom: 8px;
}
@media (min-width: 1200px) {
  .footer-auth__item:not(:last-child) {
    margin-bottom: 9px;
  }
}
.footer-auth__text {
  display: inline-block;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}
.footer-auth__link {
  display: inline-block;
  color: rgb(117, 117, 117);
}

/* footer-social */
.footer-social {
  text-align: center;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .footer-social {
    margin-bottom: 0px;
  }
}

.footer-social__text {
  margin-top: 5px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
@media (min-width: 1200px) {
  .footer-social__text {
    margin-top: 12px;
  }
}

.footer-social__list {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 60px;
}
.footer-social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: rgb(175, 177, 184);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social__link:hover, .footer-social__link:focus {
  fill: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
}

.footer-subscribe {
  text-align: center;
}
@media (min-width: 768px) {
  .footer-subscribe {
    width: 450px;
  }
}
@media (min-width: 1200px) {
  .footer-subscribe {
    width: 570px;
  }
}

.footer-subscribe__text {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
}
@media (min-width: 1200px) {
  .footer-subscribe__text {
    margin-top: 12px;
  }
}

@media (min-width: 1200px) {
  .footer-subscribe__form {
    display: flex;
  }
  .footer-subscribe__label {
    margin-right: 12px;
  }
}
.footer-subscribe__input {
  width: 100%;
  height: 50px;
  padding: 0px 16px;
  margin-bottom: 20px;
  color: rgb(255, 255, 255);
  background: rgb(47, 48, 58);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
}
@media (min-width: 1200px) {
  .footer-subscribe__input {
    width: 358px;
  }
}
.footer-subscribe__input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
}
.footer-subscribe__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
}
.footer-subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.button__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.87;
  color: rgb(255, 255, 255);
  background-color: rgb(33, 150, 243);
  cursor: pointer;
}

.button__icon {
  margin-left: 10px;
}

/*Модальное окно*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--is-hidden:hover {
  opacity: 1;
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 450px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__btn:hover, .modal__btn:focus {
  fill: rgb(33, 150, 243);
}

/* Form */
.modal__text {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: rgb(33, 33, 33);
}

.modal__form {
  margin-right: auto;
  margin-left: auto;
}

.modal__item:not(:last-child) {
  margin-bottom: 10px;
}
.modal__item:last-child {
  margin-bottom: 20px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
}

.modal__line {
  position: relative;
  margin-top: 4px;
}

.modal__input {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  cursor: pointer;
  resize: none;
}
.modal__input:not(:last-child) {
  height: 40px;
  padding-left: 42px;
}

.modal__textarea {
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  cursor: pointer;
}
.modal__textarea:focus {
  border-color: rgb(33, 150, 243);
  cursor: text;
}

.modal__line:focus-within .modal__input,
.modal__line:focus-within .modal__icon {
  fill: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
  cursor: text;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__last-div {
  margin-right: auto;
  margin-left: auto;
}

.modal__last-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 31px;
}
@media (min-width: 200px) {
  .modal__last-label {
    display: flex;
    justify-content: space-evenly;
  }
}

.span-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
}
@media (min-width: 1200px) {
  .span-text {
    font-size: 14px;
    line-height: 24px;
  }
}

.modal__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.modal__span {
  width: 16px;
  height: 15px;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 2px;
}

.modal__checkbox:checked + .modal__span {
  border-color: rgb(33, 150, 243);
  background-color: rgb(33, 150, 243);
  background-image: url(../images/icons.svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.modal__link {
  text-decoration: underline;
  color: rgb(33, 150, 243);
}

/* Чем мы занимаемся */
@media (min-width: 320px) {
  .section--work {
    display: none;
  }
}
@media (min-width: 480px) {
  .section--work {
    display: none;
  }
}
@media (min-width: 768px) {
  .section--work {
    display: none;
  }
}
@media (min-width: 1200px) {
  .section--work {
    display: contents;
  }
}

.section-text {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: rgb(33, 33, 33);
}

.work-item {
  display: flex;
}
.work-item__list {
  position: relative;
  width: 370px;
  height: 294px;
}
.work-item__list:not(:last-child) {
  margin-right: 30px;
}
.work-item__text {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 70px;
  padding: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background: rgba(47, 48, 58, 0.8);
}

/* Потфолио */
.filters {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: flex-start;
  grid-gap: 8px;
  grid-row-gap: 15px;
  height: auto;
}
@media (min-width: 768px) {
  .filters {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filters__list:not(:last-child) {
  margin-right: 8px;
}

.filters__btn {
  display: inline-block;
  box-sizing: border-box;
  min-width: 73px;
  height: 38px;
  margin-left: 0px;
  margin-right: 0px;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  color: rgb(33, 33, 33);
  background-color: rgb(245, 244, 250);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filters__btn:hover, .filters__btn:focus {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
}

/*Проекты*/
@media (min-width: 768px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .card-set {
    display: flex;
    flex-wrap: wrap;
  }
}

.card-set__item {
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) {
  .card-set__item {
    flex-basis: calc(50% - 15px);
  }
}
@media (min-width: 1200px) {
  .card-set__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media (min-width: 480px) {
  .card-set__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.card-set__item:hover, .card-set__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__overlay {
  position: relative;
  overflow: hidden;
}
.project__overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  transform: translateY(101%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__item:hover .project__overlay::before {
  transform: translateY(0%);
}

.project__text-overlay {
  position: absolute;
  width: 322px;
  top: 150%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-set__item:hover .project__text-overlay {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project__div {
  padding: 20px 24px;
  border-right: 1px solid rgb(238, 238, 238);
  border-bottom: 1px solid rgb(238, 238, 238);
  border-left: 1px solid rgb(238, 238, 238);
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.06em;
  line-height: 2;
  color: rgb(33, 33, 33);
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
  color: rgb(117, 117, 117);
}

.mobile-menu {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 767px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: white;
}

.mobile-modal__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-modal__btn:hover, .mobile-modal__btn:focus {
  fill: rgb(33, 150, 243);
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: rgb(33, 150, 243);
}

.mobile-auth__list {
  margin-bottom: 60px;
}

.mobile-auth__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-auth__link--tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: rgb(33, 150, 243);
}
.mobile-auth__link--mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: rgb(117, 117, 117);
}

.mobile-social__list {
  display: flex;
  gap: 20px;
}

.mobile-social__link--after::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: rgb(33, 150, 243);
}

.mobile-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-backdrop--is-hidden:hover {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */