/* Белый цвет color:rgba(255, 255, 255, 1)*/
/* Светлый фон color:rgba(245, 244, 250, 1) */
/* Темный фон color:rgba(47, 48, 58, 1) */
/* Синий цвет color:rgba(33, 150, 243, 1) */
/* Черный текст color:rgba(33, 33, 33, 1) */
/* Серый цвет color:rgba(117, 117, 117, 1) */

:root {
  --title-text: rgba(33, 33, 33, 1);
  --text: rgba(117, 117, 117, 1);
  --logo: rgba(33, 150, 243, 1);
  --hover: rgba(33, 150, 243, 1);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: rgba(255, 255, 255, 1);
  color: rgba(117, 117, 117, 1);
}
address {
  font-style: normal;
}
.btn {
  cursor: pointer;
}

/* Логотип */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--title-text);
}
.web {
  color: var(--logo);
}

/* Навигация */
.link-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--title-text);
}
.link-nav:hover,
.link-nav:focus {
  color: var(--hover);
}

/* Контакты */
.link-auth {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: rgba(117, 117, 117, 1);
}
.link-auth:hover,
.link-auth:focus {
  color: var(--hover);
}

/* Шапка */
.hero {
  background-color: rgba(47, 48, 58, 1);
}
.hero-text {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: rgba(255, 255, 255, 1);
}
.btn {
  background-color: rgba(33, 150, 243, 1);
}
.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: rgba(255, 255, 255, 1);
}

/* Особенности */
.zero-text {
  color: var(--title-text);
}
.after-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text);
}
.after-text {
  font-size: 14px;
  line-height: 1.71;
}

/* Чем мы занимаемся */
.work-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text);
}

/* Наша команда */
.team {
  background-color: rgba(245, 244, 250, 1);
}
.team-subject {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text);
}
.team-itam {
  background-color: rgba(255, 255, 255, 1);
}
.worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  color: var(--title-text);
}
.team-text {
  font-size: 16px;
  line-height: 1.18;
}

/* Подвал */
.footer {
  background-color: rgba(47, 48, 58, 1);
}
.footer-nav {
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 1);
}
.footer-auth {
  color: rgba(255, 255, 255, 1);
}
.footer-auth:hover,
.footer-auth:focus {
  color: var(--hover);
}
.studio {
  color: rgba(255, 255, 255, 1);
}

/* Потфолио */
.portfolio-text {
  color: var(--title-text);
}

/* Портфолио фильтры */
.portfolio-btn {
  background-color: rgba(245, 244, 250, 1);
}
.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--hover);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: rgba(255, 255, 255, 1);
}

/*Проекты*/

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--title-text);
}
.project-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--text);
}
