/* e-mail input */

.footer-subscribe__text {
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}

.footer-subscribe__list {
    display: flex;
}

.footer-subscribe__form {
    display: flex;
}

.footer-subscribe__label {
    margin-right: 12px;
}

.footer-subscribe__input {
    width: 358px;
    height: 50px;
    padding: 0px 16px;
    color: rgba(255, 255, 255, 1);
    background: rgba(47, 48, 58, 1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    &::placeholder {
        font-size: 16px;
        line-height: 1.25;
    }
}

.button__icon {
    margin-left: 10px;
}