.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: $logo;
    @media (min-width:1200px) {
        margin-right: 93px;
        font-size: 26px;
        line-height: 31px;
    }
}

.logo__studio {
    &--black-text {
        color: $log-black
    }

    &--white-text {
        color: $log-white;
    }
}