.mobile-menu {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;

    @media (min-width:767px) {
        display: none;
    }
}

.mobile-modal{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 48px 40px;
    background-color: white;
}

.mobile-modal__btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    transition: $transform;

    &:hover,
    &:focus {
        fill: $hover;
    }
}

.mobile-nav__item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}

.mobile-nav__link{
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: $link-nav;

    &:hover,
    &:focus {
        color: $hover;
    }
}

.mobile-auth__list{
    margin-bottom: 60px;
}

.mobile-auth__item{
    &:not(:last-child){
        margin-bottom: 32px;
    }
}

.mobile-auth__link{
    &--tel{
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: $hover;
    }

    &--mail{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: $text;
    }
}

.mobile-social__list{
    display: flex;
    gap: 20px;
}

.mobile-social__link{
    &--after::after{
        content: "";
        position: absolute;
        width: 1px;
        height: 22px;
        background-color:rgba(33, 33, 33, 0.2);
        margin-left: 10px;
    }
}

.mobile-social__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: $hover;
}
