.mobile-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: $transform;
}

.mobile-backdrop--is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: $transform;

    &:hover {
        opacity: 1;
    }
}